@import "../../../commonStyles/main.module";

.inputContainer {
  @include flex($dir: column);
  width: 100%;

  .inputLabel {
    @include font_p_dark;
    color: $text-color;
    user-select: none;

    &:after {
      content: ":";
    }
  }

  .requiredField:before {
    content: "*";
    color: red;
    padding-right: 2px;
  }

  .input {
    @include font_p_dark;
    @include borderFocus;
    outline: none;
    border: solid 1px $border-color-primary;
    padding: 0 10px;
    min-height: 30px;
    -webkit-appearance: none;

    &::placeholder {
      color: #818181;
    }

    &.error {
      border-color: $error-color;
    }
  }
}

.error {
  color: $error-color;
}
