@import 'src/commonStyles/mixins.module';
@import 'src/commonStyles/colors.module';

.aboutContainer {
  @include flex($dir: column, $just: center, $ali: center);
  @include customScrollbar;

  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 70px);
  width: 100%;
}
