@import "../../../../../../commonStyles/main.module.scss";

.modalTitle {
  width: 100%;
  text-align: center;
  margin-left: 40px;

  .modalErrorImage {
    fill: $error-color;
    width: 50px;
    padding-top: 15px;
  }

  h2 {
    @include font_h2;
    padding: 0 0 15px 0;
  }
}
